<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald:wght@200;300&family=Roboto:ital,wght@0,900;1,400;1,700&family=Zen+Dots&display=swap" rel="stylesheet">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald:wght@200;300&family=Roboto:ital,wght@0,900;1,300;1,400;1,700&family=Zen+Dots&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/normalize.css" />

    <title>Mercado-Liebre</title>
  </head>
  <body>
    <header class="page-header">

      <div class="header-header">
      <img src="./images/logo-mercado-liebre.svg" class="logo" />
    
      <form action="/" method="get" class="buscador"  > 
        <label for="buscador"></label>
   <input type="text" name="buscador" id="buscador"  class="input-buscador"placeholder="Buscar, productos, marcas" >

  <button type="submit" class="button-search"><i class="fas fa-search"></i></button>
      </form>
    
     
    
        <div class="title-header ">
       <p><i class="fas fa-hand-holding-usd" ></i>Comprá en cuotas y sin tarjeta de credito</p>
        </div>
      </div>
    
       
      <nav class="nav-list">
        
        <ul  class="nav-menu" >
        <li class="nav-link"><a href="#">Ofertas </a></li>
        <li class="nav-link"><a href="#">Tiendas Oficiales</a></li>
        <li class="nav-link"><a href="#">Vender</a></li>
        <li class="nav-link"><a href="#">Ayuda</a></li>
        
        </ul>
  
  
        <ul  class="nav-menu">
        <li class="nav-link"><a href="register">Creá tu Cuenta <i class="far fa-id-card"></i> </a></li>
        <li class="nav-link"><a href="login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
        <li class="nav-link"><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i> </a></li>
        </ul>
       
      </nav>
       
      
        <div class="burger-menu">
 <i class="fas fa-bars" ></i>
        </div>
      
    </header>
    <img src="./images/img-home-banner.jpg" class="imagen-Producto" >
    <main class="main-width main-mg-auto  ">
        <h2 class="titulos-section">
          <strong>Basado en tu última visita</strong>
        </h2>

<section  class="display-flex">
        <article class= "product-shadow productos" >
          <img src="./images/img-cafetera-moulinex.jpg" class="imagen-Producto" />
<div class="datos-productos">
      <div class="container-truck">
          <i class="fas fa-truck-moving" ></i>

<div class="precios-descuentos">
          <p class="precios">$6.770</p>
          <p class="descuentos">40% OFF</p>
</div>
          <p class="descripcion">Cafetera Moulinex</p>
          </div>
      </div>
        </article>
          
        <article class= "product-shadow productos">
          <img src="./images/img-macbook-pro-2019.jpg" class="imagen-Producto" />
             <div class="datos-productos"> 
          <div class="container-truck">
          <i class="fas fa-truck-moving" ></i>
            <div class="precios-descuentos">
          <p class="precios">$230.000</p>
          <p class="descuentos">20% OFF</p>
            </div>
          <p class="descripcion">Macbook Pro 2019</p>
          </div>
          </div>
        </article>
        
        <article class= "product-shadow productos">
          <img src="./images/img-samsung-galaxy-s10.jpg" class="imagen-Producto" />
          <div class="datos-productos">
          <div class="container-truck">
          <i class="fas fa-truck-moving"></i>
            <div class="precios-descuentos">
          <p class="precios">$70.500</p>
          <p class="descuentos">10% OFF</p>
            </div>
          <p class="descripcion">Samsung Galaxy s10</p>
          </div>
          </div>
        </article>
        <article class= "product-shadow productos" >
          <img src="./images/img-tv-samsung-smart.jpg" class="imagen-Producto" />
          <div class="datos-productos">
          <div class="container-truck">
          <i class="fas fa-truck-moving"></i>
           
            <div class="precios-descuentos">
          <p class="precios">$23.200</p>
          <p class="descuentos">5% OFF</p>
            </div>
          <p class="descripcion">SmartTv Samsung 43"</p>
           </div>
          </div>
          
        </article>
      </section>
      
        <h2 class="titulos-section"><strong>Sección de Ofertas</strong></h2>
        <section  class="display-flex">
        <article class= "product-shadow productos">
          <img src="./images/img-cafetera-moulinex.jpg" class="imagen-Producto" />
          
            <div class="datos-productos">
              <div class="container-truck">
          <i class="fas fa-truck-moving"></i>
            <div class="precios-descuentos">
          <p class="precios">$6.770</p>
          <p class="descuentos">40% Off</p>
            </div>
          <p class="descripcion">Cafetera Moulinex</p>
          </div>
          </div>
          
        </article>
                <article class= "product-shadow productos">
                    <img src="./images/img-macbook-pro-2019.jpg" class="imagen-Producto" />
                 
                      <div class="datos-productos">
                           <div class="container-truck">
          <i class="fas fa-truck-moving" ></i>
          
            <div class="precios-descuentos">
          <p class="precios">$230.000</p>
          <p class="descuentos">20% Off</p>
            </div>
          <p class="descripcion">MacBook Pro 2019</p>
          </div>
          </div>
                
        </article>
        <article class= "product-shadow productos">
          
          <img src="./images/img-samsung-galaxy-s10.jpg" class="imagen-Producto" />
          <div class="datos-productos">
        <div class="container-truck">
          <i class="fas fa-truck-moving"></i>
            <div class="precios-descuentos">
          <p class="precios">$70.500</p>
          <p class="descuentos">10% Off</p>
            </div>
          <p class="descripcion">Samsung Galaxy S10</p>
          </div>
          </div>
          </div>
        </article>
         <article class= "product-shadow productos" >
         <div class="products">
          <img src="./images/img-tv-samsung-smart.jpg" class="imagen-Producto" />
          <div class="datos-productos">
          <div class="container-truck">
          <i class="fas fa-truck-moving"></i>
            <div class="precios-descuentos">
          <p class="precios">$23.200</p>
          <p class="descuentos">5% OFF</p>
            </div>
          <p class="descripcion">SmartTv Samsung 43"</p>
           </div>
          </div>
          </div>
        </article>
      </div>
      </section>
    </div>
    </main>
    <footer class="footer">
      <section class="full-Footer">
        <div  class="footer-division"  >
        <i class="far fa-credit-card"></i>
      <h2><strong>Pagá con tarjeta o en efectivo</strong></h2>
      <p class="p-footer">
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjet o en
        efectivo en puntos de pago.¡Y siempre es seguro!
      </p>
        </div>
        <div class="footer-division">
   <i class="fas fa-sign-in-alt"></i>
      
      <h2><strong>Envio gratis desde $2.500</strong></h2>
      <p class="p-footer">
        solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
        de productos. Es un beneficio de Mercado Puntos.
      </p>
        </div>
        <div class="footer-division">
     <i class="fas fa-user-shield"></i> 
      <h2><strong>Seguridad, de principio a fin</strong></h2>
      <p class="p-footer">
        ¡No te gusta? ¡Devolvelo!. En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás sieempre protegid@
      </p>
        </div>
      </section>
      <div class="footer-copyr">
      <h4><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></h4>
        </div>
    </footer>
  </body>
</html>
