<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <img src="./images/logo-mercado-liebre.svg" width="100%"/>
      <h3>Lugar para poner la barra de busqueda</h3>
      <h3>Comprá en cuotas y sin tarjeta de crédito</h3>

      <ul>
        <li><a href="#">Ofertas </a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li> <br>
      
        <li><a href="#">Creá tu Cuenta </a></li>
        <li><a href="#">Ingresá</a></li>
        <li><a href="#">Mis Compras</a></li>
      </u>
    </header>
    <main>
        <section>
            <h2><strong>Basado en tu última visita</strong></h2>
            <article>
                <img src="./images/img-cafetera-moulinex.jpg" width="100%">
                <p>$6.770</p>
                <p>40% OFF</p>
                <P>Cafetera Moulinex</P>
            </article>
            <article>
                <img src="./images/img-macbook-pro-2019.jpg" width="100%">
                <p>$230.000</p>
                <p>20% OFF</p>
                <P>Macbook Pro 2019</P>
            </article>
            <article>
                <img src="./images/img-samsung-galaxy-s10.jpg" width="100%">
                <p>$70.500</p>
                <p>10% OFF</p>
                <P>Samsung Galaxy s10</P>
            </article>
            <article>
                <img src="./images/img-tv-samsung-smart.jpg" width="100%">
                <p>$23.200</p>
                <p>5% OFF</p>
                <P>SmartTv Samsung 43"</P>
            </article>

        </section>
        <section>
            <h2><strong>Sección de Ofertas</strong></h2>
            <article>
            <img src="./images/img-cafetera-moulinex.jpg" width="100%">
            <p>$6.770</p>
            <p>40% Off</p>
            <p>Cafetera Moulinex</p>
            </article>
             <article>
            <img src="./images/img-macbook-pro-2019.jpg" width="100%">
            <p>$230.000</p>
            <p>20% Off</p>
            <p>MacBook Pro 2019</p>
            </article>
             <article>
            <img src="./images/img-samsung-galaxy-s10.jpg" width="100%">
            <p>$70.500</p>
            <p>10% Off</p>
            <p>Samsung Galaxy S10</p>
            </article>
             
        </section>
    </main>
    <footer>

        <h2><strong>Pagá con tarjeta o en efectivo</strong></h2>
        <p>con Mercado Liebre Cash, tenés cuotas sin interés con tarjet o en efectivo en puntos de pago.¡Y siempre es seguro!</p>

        <h2><strong>Envio gratis desde $2.500</strong></h2>
        <p>solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>

        <h2><strong>Seguridad, de principio a fin</strong></h2>
        <p>¡No te gusta? ¡Devolvelo!. En Mercado Liebre, no hay nada que no puedas hacer, porque estás sieempre protegid@</p>
        <h2><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></h2>

    </footer>
  </body>
</html>
