body {
  font-size: 12px;
  font-family: "Roboto";
  background-color: #b6b2b2;
}
.page-header {
  background-color: #eac926;
  padding: 10px;
}
.header-header {
  display: flex;
  flex-wrap: wrap;
}

.title-header {
  width: 100%;
  margin-bottom: 5px;
  font-size: 16px;
  text-align: center;
}
.list {
  padding-top: 8px;
  padding-bottom: 8px;
}
.nav-list {
  display: none;
}

.burger-menu {
  text-align: center;
  background-color: #03264c;
  color: white;
  width: 20px;
  margin: auto;
}
.main-width {
  width: 90%;
}
.main-mg-auto {
  margin: auto;
}

.titulos-section {
  font-size: 24px;
  margin-left: 28px;
}
.productos {
  margin-bottom: 5px;
  margin-top: 5px;
  width: 90%;
  background-color: white;
}

.datos-productos {
  padding-left: 15px;
  padding-right: 15px;
  border-top: 1px solid #ebebeb;
}
.imagen-Producto {
  width: 100%;
}
.precios-descuentos {
  display: flex;
}

.precios {
  font-size: 18px;
  font-family: "roboto";
  flex-grow: 0.3;
}
.descuentos {
  font-size: 16px;
  color: #39b54a;
  flex-grow: 0.7;
}
.descripcion {
  font-size: 16px;
}
.cuotas {
  text-align: center;
}
.full-Footer {
  text-align: center;
  margin-top: 20px;
}
.p-footer {
  margin-bottom: 20px;
}

.footer i {
  font-size: 2em;
  margin-bottom: 10x;
}

.product-shadow {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.container-truck {
  position: relative;
}
.container-truck i {
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  color: #39b54a;
  align-items: flex-end;
}
.display-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  justify-content: center;
}

.logo {
  width: 50%;
}

.buscador {
  width: 48%;
  margin-left: 5px;
  align-self: center;
  display: flex;
  background-color: white;
  border-radius: 5px;
}
.input-buscador {
  height: 33px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-right: 2px;
  flex-grow: 1;
  min-width: 0;
  outline: none;
}
.button-search {
  background-color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}
/* stylos-formularios */
.form-register {
  margin: 0 auto;
  width: 400px;
  background-color: #eac926;
  padding: 30px;
  margin-top: 100px;
  border-radius: 4px;
}

.titulo-form-register {
  text-align: center;
  font-size: 25px;
  padding-bottom: 15px;
}
.perfil-usuario {
  display: flex;
}
.subtitulos {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.style-checkbox {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.opcion-comprador {
  width: 50%;
}
.opcion-vendedor {
  width: 50%;
}
.foto-p {
  margin-top: 8px;
}
.input {
  width: 350px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  color: #666;
}
.button {
  display: flex;
  gap: 2%;
}

.enviar {
  width: 50%;
  color: white;
  padding: 8px;
  background-color: rgb(52, 54, 54);
}
.reset {
  width: 50%;
  background-color: rgb(52, 54, 54);
  color: white;
}
.enviar:hover {
  background-color: #39b54a;
}
.reset:hover {
  background-color: #39b54a;
}
.form-login {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  background-color: #eac926;
  padding: 30px;
  margin-top: 100px;
  border-radius: 4px;
}
.titulo-login {
  text-align: center;
  font-size: 30px;
  margin-bottom: 15px;
}
.input-login {
  width: 340px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  color: #666;
}

.boton-enviar {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}
.a-register {
  display: flex;
  text-align: center;
  font-size: 15px;
  padding-top: 5px;
  margin-top: 10px;
}

@media (min-width: 481px) {
  /* tablet */

  .header-header {
    display: flex;
    flex-wrap: wrap;
  }
  .logo {
    width: 28%;
    padding-right: 10px;
  }
  .buscador {
    width: 28%;
  }
  .title-header {
    width: 39%;
    margin: auto;
  }
  .nav-list {
    display: flex;
    justify-content: space-between;
  }

  .nav-menu {
    display: flex;
    padding: 0px 0px;
  }
  .nav-link {
    margin: 0px 5px;
  }

  nav ul li a {
    text-decoration: none;
    color: #666;
  }

  .burger-menu {
    display: none;
  }

  .productos {
    width: 48%;
  }
  .full-Footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    gap: 1%;
  }
  .footer-division {
    width: 30%;
  }
  .footer i {
    width: 2em;
    border: #39b54a 2px;
  }
  .footer-copyr {
    width: 100%;
    margin: 0;
  }
}
@media (min-width: 769px) {
  /* laptop */

  .productos {
    width: 23%;
  }

  .product-shadow {
    box-shadow: none;
  }
  .container-truck i:hover {
    transform: rotate(250deg);
  }
  .boton-enviar:hover {
    background-color: #0022aa;
  }

  .product-shadow:hover {
    box-shadow: 0px 0px 20px rgb(110, 100, 100);
  }

  .descripcion {
    display: none;
  }
  .productos:hover .descripcion {
    display: block;
  }
  .footer i:hover {
    color: #39b54a;
  }
}

@media (min-width: 1281px) {
  /* desktop */
}
